includes:
	- ../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/appAppKernelTestDebugContainer.xml
    excludes_analyse:
        # as long we don't install the dependencies :(
    ignoreErrors:
        # There is no global constants definition file we could include, ignore it:
        - '#Constant PIMCORE_[A-Z\\_]+ not found\.#'
        # Symfony DI (remove this line after symfony 4 support only):
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
        - '#.*NodeDefinition::append.*#'
        - '#.*NodeDefinition::addDefaultsIfNotSet.*#'