.social_data_icon_bundle {
    background: url(/bundles/socialdata/img/social_data_icon_white.svg) left center no-repeat !important;
}

.social_data_icon_config {
    background: url(/bundles/socialdata/img/social_data_icon_settings_white.svg) left center no-repeat !important;
}

.social_data_icon_walls {
    background: url(/bundles/socialdata/img/social_data_icon_wall_white.svg) left center no-repeat !important;
}

.social_data_wall_icon_root_add {
    background: url(/bundles/socialdata/img/social_data_wall_add.svg) left center no-repeat !important;
}

.social_data_wall_icon {
    background: url(/bundles/socialdata/img/social_data_wall.svg) left center no-repeat !important;
}

.pimcore_icon_social_data_wall_feed {
    background: url(/bundles/socialdata/img/social_data_wall_feed.svg) left center no-repeat !important;
}

.pimcore_icon_social_data_wall_feed_add {
    background: url(/bundles/socialdata/img/social_data_wall_feed_add.svg) left center no-repeat !important;
}

.pimcore_icon_social_data_connector_tbtext {
    padding: 2px 0 2px 24px;
}